.nav-side-menu {
  font-size: 14px;
  background-color: #282828;
  position: absolute;
  width: 250px;
  height: 100%;
  color: #ffffff;
}

.nav-side-menu .brand {
  background-color: #282828;
  line-height: 50px;
  text-align: center;
  font-size: 30px;
  font-variant: small-caps;
}

.nav-side-menu .toggle-btn {
  display: none;
}

.nav-side-menu ul,
.nav-side-menu li {
  list-style: none;
  padding: 0px;
  margin: 0px;
  line-height: 40px;
  cursor: pointer;
}

.nav-side-menu ul .collapsed .arrow:before,
.nav-side-menu li .collapsed .arrow:before {
  font-family: FontAwesome;
  content: "\f053";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
  float: right;
}

.nav-side-menu ul :not(collapsed) .arrow:before,
.nav-side-menu li :not(collapsed) .arrow:before {
  font-family: FontAwesome;
  content: "\f078";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
  float: right;
}

.nav-side-menu ul .active,
.nav-side-menu li .active {
  border-left: 3px solid #ebdbb2;
  background-color: #921717;
}

.nav-side-menu ul .sub-menu li.active,
.nav-side-menu li .sub-menu li.active {
  color: #921717;
}

.nav-side-menu ul .sub-menu li,
.nav-side-menu li .sub-menu li {
  background-color: #282828;
  border: none;
  line-height: 28px;
  border-bottom: 1px solid black;
  margin-left: 0px;
}

.nav-side-menu ul .sub-menu li:hover,
.nav-side-menu li .sub-menu li:hover {
  background-color: #504945;
}

.nav-side-menu ul .sub-menu li:before,
.nav-side-menu li .sub-menu li:before {
  font-family: FontAwesome;
  content: "\f105";
  display: inline-block;
  padding-left: 10px;
  padding-right: 0px;
  vertical-align: middle;
}

.nav-side-menu ul .sub-sub-menu li:before,
.nav-side-menu li .sub-sub-menu li:before {
  font-family: FontAwesome;
  content: "\f105 \f105";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
}

.nav-side-menu li {
  border-left: 3px solid #d65d0e;
  border-bottom: 1px solid #282828;
}

.nav-side-menu li a {
  text-decoration: none;
  color: #ffffff;
  padding-left: 10px;
}

.nav-side-menu li a i {
  padding-left: 0px;
  width: 20px;
  padding-right: 25px;
}

.nav-side-menu li:hover {
  border-left: 3px solid #FFF;
  background-color: #504945;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}

@media (max-width: 767px) {

  .nav-side-menu {
    position: relative;
    width: 100%;
  }

  .nav-side-menu .toggle-btn {
    display: block;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 10 !important;
  }

  .brand {
    text-align: left !important;
    font-size: 20px;
    padding-left: 10px;
    line-height: 50px !important;
  }
}

@media (min-width: 767px) {

  .nav-side-menu .menu-list .menu-content {
    display: block;
  }

  .container {
    margin-left: 250px;
  }
}

body {
  margin: 0px;
  padding: 0px;
}

.container {
  text-align:justify;
}


.icon-helicopter:before {
  display: inline-block;
  vertical-align: -15%;
  content: "";
  width: 19px;
  height: 19px;
  background: transparent url('resize_heli.png') no-repeat;
}

