{% extends "taskmonitor/base.html" %}

{% load mptt_tags %}

{% block content %}

{% block component_tree_view %}
<div class="nav-side-menu">
  <div class="brand">Fairway</div>
  <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
  <div class="menu-list">

    <ul id="menu-content" class="menu-content collapse out">

      {% recursetree nodes %}

        <li data-toggle="collapse" data-target="#sub{{node.id}}" class="collapsed">
          <a href="{% url 'taskmonitor:detail' node.id %}" class="no-collapsable">
            {% if node.icon %}
              <i class="fa fa-lg {{node.icon}} "></i>
            {% endif %}
            {{node.name}}
          </a>
          {% if not node.is_leaf_node %}
            <span class="arrow"></span>
          {% endif %}
	</li>

        {% if not node.is_leaf_node %}
          {% if node.is_root_node %}
            <ul class="sub-menu collapse out" id="sub{{node.id}}">
          {% elif node.is_sub_menu %}
            <ul class="sub-sub-menu collapse out" id="sub{{node.id}}">
          {% endif %}
          {{ children }}
          </ul>
        {% endif %}

      {% endrecursetree %}

    </ul>

  </div>
</div>

{% endblock component_tree_view %}

{% block component_group_detail %}{% endblock component_group_detail %}

{% endblock content %}
