
{% extends "taskmonitor/base_taskmonitor.html" %}

{% block component_group_detail %}
<div class="container">
<h2>{{ componentgroup.name }}</h2>

{% for task in tasks %}
<h3>{{task.group.name}} Tasks</h3>
<ul>
    <li>
    <h4>{{task.name}}</h4>
    <p>{{task.description}}</p>
    <p>{{task.interval}}</p>
    <p>{{task.last_done}}</p>
    <p>{{task.next_due}}</p>
    </li>
</ul>
{% endfor %}
</div>
{% endblock %}
